/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* common styles or, utilities */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

:root {
    --primary-color: #FF900E;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

p {
    color: #727272;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.center {
    text-align: center;
}

.my-130 {
    margin: 130px 0 !important;
}

.mb-24 {
    margin-bottom: 24px;
}

.header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 0 45px;
}

.nav,
.banner-section {
    max-width: 1240px;
    margin: 0 auto
}

.nav,
.nav ul,
.banner-section,
.banner-info {
    display: flex;
}

.nav,
.banner-section,
.banner-info {
    align-items: center;
}

.banner-section,
.banner-info {
    flex-direction: column;
    justify-content: center;
}

.primary-btn {
    background: #FF900E;
    border-radius: 8px;
    margin-top: 32px;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}

/* header section styles */


.nav {
    justify-content: space-between;
    padding-bottom: 100px;
}

.nav ul {
    column-gap: 50px;
}

.nav ul li a {
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* banner section styles */
.banner-info {
    padding: 0 190px;
    margin-bottom: 50px;
}

.banner img {
    width: 100%;
}






/* Responsive layout styles */

/* styles for mobile layout */
@media screen and (max-width: 576px) {

    /* header section styles */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 30px;
    }

    .nav,
    .nav ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav {
        padding: 0 0 50px;
        row-gap: 30px;
    }

    .nav ul {
        row-gap: 25px;
    }

    /* banner section styles */
    .banner-section {
        flex-direction: column-reverse;
    }

    .banner-info {
        margin: 30px 0 0;
        padding: 0 40px;
    }

}