/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* common styles or, utilities */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

:root {
    --primary-color: #FF900E;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

p,
label {
    color: #727272;
    line-height: 26px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

.center {
    text-align: center;
}

.my-130 {
    margin: 130px 0 !important;
}

.mb-24 {
    margin-bottom: 24px;
}

.header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 0 45px;
}

.nav,
.banner-section,
.main-content,
.footer {
    max-width: 1240px;
    margin: 0 auto
}

.nav,
.nav ul,
.banner-section,
.banner-info,
.features,
.fact,
.single-fact,
.sponsors,
.sponsor-info,
.sponsor-brands,
.contact-form {
    display: flex;
}

.nav,
.banner-section,
.banner-info,
.features,
.single-fact,
.sponsors,
.sponsor-info,
.sponsor-brands,
.contact-form {
    align-items: center;
}

.banner-section,
.banner-info,
.single-fact,
.sponsors,
.sponsor-info,
.contact-form {
    flex-direction: column;
    justify-content: center;
}

.primary-btn {
    background: var(--primary-color);
    border-radius: 8px;
    margin-top: 32px;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}

/* header section styles */


.nav {
    justify-content: space-between;
    padding-bottom: 100px;
}

.nav ul {
    column-gap: 50px;
}

.nav ul li a {
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* banner section styles */
.banner-info {
    padding: 0 190px;
    margin-bottom: 50px;
}

.banner img {
    width: 100%;
}

/* features section styles */
.features {
    column-gap: 70px;
    padding: 85px 60px 0;
}

.feature-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-gallery>div {
    width: 342px;
    height: 342px;
}

.feature-title span:first-child {
    color: #727272;
    font-weight: 500;
}

.feature-title span:last-child {
    color: var(--primary-color);
}

/* facts section styles */
.facts-description {
    width: 50%;
}

.single-fact-icon {
    width: 45px;
    height: 45px;
}

.fact {
    margin-top: 100px;
    padding: 0 50px;
    column-gap: 60px;
}

.single-fact {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    width: 242px;
    height: 242px;
    transition: box-shadow 0.5s cubic-bezier(0.4, 0, 0.39, 0.99), transform 0.5s cubic-bezier(0.4, 0, 0.39, 0.99);
}

.single-fact:hover {
    -webkit-box-shadow: 1px 5px 20px 3px rgba(255, 144, 14, 0.74);
    box-shadow: 1px 5px 20px 3px rgba(255, 144, 14, 0.74);
    transform: scale(1.1);
}

.single-fact-title {
    margin: 9px 0 5px;
    font-weight: 600;
    color: #424242;
}

.single-fact-description {
    font-size: 20px;
    font-weight: 600;
}

/* sponsors section styles */

.sponsors {
    margin-top: 180px;
}

.sponsor-info {
    margin-bottom: 50px;
}

.sponsor-description {
    width: 80%;
}

.sponsor-brands {
    column-gap: 100px;
    justify-content: center;
}

.single-sponsor-brands {
    width: 150px;
}

/* footer section styles */
.footer-info {
    margin: 130px auto 215px;
    padding: 39px 0 38px;
    background: #FFF4E7;
    border-radius: 8px;
}

.footer-title {
    font-size: 20px;
    color: #424242;
}

/* form section styles */
.form {
    margin-top: 150px;
}

.contact-form-description {
    width: 65%;
}

.contact-form-inputs {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    margin: 100px 0 50px;
    justify-items: center;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

label {
    font-weight: 600;
}

input[type="text"],
input[type="email"] {
    padding: 10px;
    border: 1px solid #CBD6E2;
    border-radius: 3px;
    width: 230px;
    color: #33475B;
    margin-top: 5px;
    outline: none;
}

input:focus {
    border-color: #72B7EE;
}











/* Responsive layout styles */

/* styles for mobile layout */
@media screen and (max-width: 576px) {

    /* header section styles */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 30px;
    }

    .nav,
    .nav ul,
    .features,
    .feature-info,
    .facts-info,
    .fact,
    .sponsor-brands {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav {
        padding: 0 0 50px;
        row-gap: 30px;
    }

    .nav ul {
        row-gap: 25px;
    }

    /* banner section styles */
    .banner-section {
        flex-direction: column-reverse;
    }

    .banner-info {
        margin: 30px 0 0;
        padding: 0 40px;
    }

    /* features section styles */
    .features {
        row-gap: 35px;
        padding: 85px 40px 0;
    }

    .feature-gallery {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .feature-info,
    .facts-info {
        display: flex;
        text-align: center;
    }

    /* facts section styles */
    .facts-description {
        width: 80%;
    }

    .fact {
        margin-top: 60px;
        row-gap: 40px;
    }

    /* sponsors section styles */
    .sponsors {
        margin-top: 100px;
    }

    .sponsor-brands {
        row-gap: 50px;
    }

    /* form section styles */
    .contact-form-inputs {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 70px;
    }

    .contact-form>.primary-btn {
        margin-left: -130px;
    }

    /* footer section styles */
    .footer-info {
        margin: 50px 20px 50px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer-title {
        font-size: 16px;
    }
}